$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mood {
  border-left-style: solid;
  border-left-width: 8px;
  text-align: left;
  padding-left: 10px;
}

.mood-blue {
  border-left-color: #5D9CEC;
}

.mood-red {
  border-left-color: #ED5565;
}

.mood-yellow {
  border-left-color: #F6BB42;
}

.mood-green {
  border-left-color: #8CC152;
}

.mood-mint {
  border-left-color: #37BC9B;
}

.mood-pink {
  border-left-color: #D770AD;
}

