<h2>{{event.name}}</h2>

        <div class="row">
            <div class="col-sm-6" ng-hide="user.connected">
                <div class="alert alert-info">
                    <strong><a href="#/login">Login to tell the world you attended this event.</a></strong>
                </div>
            </div>

            <div class="col-sm-6"  ng-hide="!user.connected || event.iwasthere">
                <button ng-click="addSelfAsAttendee()" type="button" class="btn btn-primary btn-block">I was there!</button>
            </div>

            <div class="col-sm-6" ng-show="event.iwasthere">
                <form ng-hide="showMessage" class="form-horizontal">
                    <button ng-click="showMessage = true"
                            type="button" class="btn btn-primary btn-block">Add message</button>
                </form>
                <form ng-show="showMessage" class="form-horizontal">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Your message" ng-model="message.text"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2">Mood </label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="message.mood">
                                <option value="blue">Blue</option>
                                <option value="red">Red</option>
                                <option value="yellow">Yellow</option>
                                <option value="green">Green</option>
                                <option value="mint">Mint</option>
                                <option value="pink">Pink</option>
                            </select>
                        </div>
                    </div>
                    <button ng-click="sendMessage(message)" type="button" class="btn btn-primary btn-block">Send message</button>
                    <button ng-click="showMessage = false"
                            type="button" class="btn btn-primary btn-block">Dismiss message</button>
                </form>
            </div>

            <div class="col-sm-6">
                <form>
                <div class="form-search search-only">
                    <i class="search-icon glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control search-query" ng-model="query" autofocus placeholder="Filter">
                </div>
                </form>
            </div>
        </div>

<h3>Attendees <span class="badge">{{ attendees.length }}</span></h3>
<div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="attendee in attendees  | filter:query">
        <div class="thumbnail">
            <img class="img-rounded" ng-src="{{attendee.img}}">
            <div class="caption text-center">
                <h3>{{attendee.fullName}}</h3>
                <p ng-repeat="message in attendee.messages" class="mood mood-{{message.mood}}">{{message.text}}</p>
            </div>
        </div>
    </div>
</div>