
<h1>Signup</h1>

<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>Heads up!</h4>
    <p>If you already have an account, please use the login form instead.</p>
    <p><a class="btn btn-success" href="#/login">Login</a></p>
</div>

<div class="row">
    <div class="col-sm-12">

    <form id="signupform" class="form-horizontal" role="form" ng-submit="submit()">
    <div class="form-group">
        <label for="email" class="col-md-3 control-label">Email</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="email" placeholder="Email Address" ng-model="signup.email">
        </div>
    </div>

        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            email will be used as identifier, and to lookup your gravatar.
            <strong>We will never send spam!</strong>
        </div>

    <div class="form-group">
        <label for="name" class="col-md-3 control-label">Name</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="name" placeholder="Name"  ng-model="signup.name">
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-md-3 control-label">Password</label>
        <div class="col-md-9">
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="signup.password">
        </div>
    </div>

    <div class="form-group">
        <!-- Button -->
        <div class="col-md-offset-3 col-md-9">
            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
        </div>
    </div>
    </form>
    </div>
</div>